<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputFullName">Full Name</label>
      <input type="text" class="form-control" id="inputFullName" placeholder="Full Name">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputGender">Gender</label>
      <select class="form-control">
        <option>Female</option>
        <option>Male</option>
        <option>Transgender Female</option>
        <option>Transgender Male</option>
        <option>Other</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
      <div class="form-group">
        <label for="inputDateOfBirth">Date of Birth</label>
        <input type="date" class="form-control" id="inputDateOfBirth">
      </div>
    </div>
    <div class="col-sm-6">
    <div class="form-group">
      <label for="inputPlaceOfBirth">Place of Birth</label>
      <input type="text" class="form-control" id="inputPlaceOfBirth" placeholder="Place of Birth">
    </div>
  </div>
</div>
  