<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
        Search Person
      </nb-card-header>
      <nb-card-body>
        <div class="input-group has-person-icon">
          <input type="text" class="form-control" placeholder="Person Name">
          <span class="input-group-btn">
            <button type="button" class="btn btn-success btn-with-icon" (click)=searchPerson()>
                <i class="nb-search"></i>
                <span>Search</span>
            </button>
            <button type="button" class="btn btn-outline-success btn-with-icon" (click)=addPerson()>
                <i class="nb-plus"></i>
                <span>New</span>
            </button>
          </span>
        </div>
        <div [hidden]="searchResults.length == 0">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                  <th></th>
                  <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let person of searchResults">
                <td>
                  <button type="button" class="btn btn-outline-success btn-icon" (click)=editPerson(person.Id)>
                    <i class="nb-edit"></i>
                  </button>
                </td>
                <td>{{ person.FirstName }} {{ person.LastName }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div [hidden]="!showNoneFound">None found</div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
